.outline-none {
  outline: none !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Montserrat';
  background: #F4F4F6 0% 0% no-repeat padding-box;
  opacity: 1;
}
